@keyframes texto-animado{
	0% {
		opacity:0.30;
	}

	50% {
		opacity:0.70;
	}
	90% {

		opacity:0.90;
	}
	100% {
		opacity:0.40;
	}

}
body{
	height:100%;
	background-color:grey;
	background-image:url("SL_031721_41490_22.jpg");
	 background-size: cover; /* Redimensiona para cobrir todo o elemento */
	 background-position: center center; /* Centraliza a imagem */
	 background-repeat: no-repeat; /* Evita que a imagem se repita */
	 min-height: 100vh; /* Garante que o corpo ocupe toda a altura da janela  */

}


nav{
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:rgba(128, 128, 128, 0.50);
	z-index:2;
	height:45px;
	width:100%;
	
	


}

#logo-text {

	color:yellow;
	animation-name:texto-animado;
	animation-duration:2s;
	animation-iteration-count:infinite;
	text-align:center;
	font-size:150%;
	font-family: 'Roboto', sans-serif;
	
}

#icone-contato {
	width:30px;
	height:35px;
	left:50px;
	

}
#icone-contato:hover {
	opacity:50%;
	fill:yellow;
	
}

.link-hidden {
	text-decoration:none;
}

section {
	color:white;
	font-size:100%;
	text-align:center;
	font-family:"Roboto", sans-serif;


}
section h1 {
	line-height:3.1;
}
section p {
	text-align:center;
	margin-bottom:1rem;
}
section h2 {
	font-size:90%;
	line-height:3.1;
}


#footer {
	text-align: center;
	height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 153, 1);
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto; /* Empurra o rodapé para o final */
  100vh
}

#footer p {
  margin: 0;
}

